@font-face {
    font-family:'resident_evil_4_remake_font_by_snakeyboy_df7kacs.tff';
    src: url('../fontes/resident_evil_4_remake_font_by_snakeyboy_df7kacs.ttf');
}


@font-face {
    font-family: 'Resident_Evil_Large.ttf';
    src: url(../fontes/Resident_Evil_Large.ttf);
}

@font-face {
    font-family:'BLUEHIGD.TTF' ;
    src: url(../fontes/BLUEHIGD.TTF);
}